.settingsBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 0 90px;
  margin-left: 30px;
  color: var(--text-color);

  @media (max-width: 700px) {
    margin-left: 10px;
    padding: 20px 10px 0 0px;
  }

  .settingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0 10px 0;
    h2 {
      margin-left: 20px;
      margin-right: auto;
      color: white;
    }
  }

  .settingsTop {
    display: flex;
    flex-direction: column;

    .settingsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-radius: 10px;

      background-color: var(--word-bg);

      margin: 20px 0;
      padding: 30px 50px;

      @media(max-width: 700px){
        margin: 10px 0;
        padding: 10px 20px;

        font-size: 13px;
      }

      .rowTop{
        display: flex;
        flex-direction: column;

        p {
          all: unset;
          color: var(--container-shadow);
        }

        @media(max-width: 700px){
            h5{
              font-size: 15px;
            }
        }
      }
    }
  }

  .settingsBottom {
    display: flex;
    justify-content: space-between;
    background-color: var(--word-bg);
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      padding: 5px 10px;
    }
  }
}
