.exerciseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 0 90px;
  margin-left: 30px;
  color: var(--text-color);

  @media (max-width: 700px) {
    margin-left: 10px;
    padding: 20px 10px 0 0px;
  }

  .exerciseBackground {
    display: flex;
    flex-direction: column;

    .exerciseHeader {
      display: flex;
      justify-self: flex-start;
      justify-content: space-between;

      padding: 20px 50px;
      border-radius: 10px;
      margin-bottom: 30px;

      position: relative;

      @media (max-width: 700px) {
        padding: 10px 25px;
      }

      .extraLife {
        position: absolute;
        top: 120px;
        left: 50px;

        svg {
          width: 30px;
          height: 30px;

          path {
            fill: var(--word-bg);
          }
        }
      }

      .exerciseStatus {
        background-color: var(--word-bg);
        border-radius: 10px;
        padding: 10px 20px;

        .correctValue {
        }

        .statusBar {
          .statusLine {
            width: 150px;
          }
          .statusValue {
          }
        }
      }
    }

    .wordContainer {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);

      @media (max-width: 1500px) {
        width: 40%;
      }

      @media (max-width: 1100px) {
        width: 60%;
      }

      @media (max-width: 750px) {
        width: 80%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }

      .wordBackground {
        padding: 5px 10px;
        border: 1px solid var(--word-bg);
        background-color: var(--word-bg);
        color: var(--tertiary-bg);
        border-radius: 10px;
        text-align: center;

        margin-bottom: 50px;

        .word {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-weight: bold;

          cursor: pointer;

          svg {
            width: 40px;
            height: 40px;

            g {
              stroke: var(--tertiary-bg);
            }
          }
        }
      }

      .translatesContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        margin-top: 50px;

        .translateWord {
          width: 200px;
          padding: 10px 20px;
          margin: 10px;

          text-align: center;
          font-size: 18px;
          color: var(--text-color);

          border: none;
          border-radius: 5px;
          background-color: var(--word-bg);

          cursor: pointer;

          transition: background-color 0.3s;

          @media (max-width: 550px) {
            width: 150px;
            font-size: 14px;
          }

          svg {
            width: 40px;
            height: 40px;

            g {
              stroke: var(--tertiary-bg);
            }
          }

          &:hover {
            background-color: var(--item-hover);
          }
        }
      }

      .nextButton {
        button {
          background-color: var(--word-bg);

          color: var(--text-color);
        }
      }

      .applyButton {
        padding: 10px 12px;
        border-radius: 10px;
        background-color: var(--word-bg);
        color: var(--text-color);
        cursor: pointer;

        &:hover{
          color: var(--tertiary-bg);
      }
  
      }
    }
  }
}

.transcription {
  font-style: italic;
}

.correct {
  background-color: #2bbc99 !important;

  color: white !important;
}

.incorrect {
  background-color: #bc372b !important;

  color: white !important;
}

.checked {
  background-color: var(--item-hover) !important;

  color: white !important;
}
