.tagsBlock {
  display: flex;
  padding-bottom: 5px;

  &::-webkit-scrollbar {
    height: 7px;
    background-color: var(--item-hover);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--tertiary-bg);
  }

  overflow-x: auto;
  white-space: nowrap;

  .existingTagBackground {
    border: 1px solid var(--secondary-bg);
    background-color: var(--secondary-bg);
    color: var(--text-hover-color);
    border-radius: 20px;
    padding: 5px;
    margin: 5px 5px 0 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--main-container-bg);
      border: 1px solid var(--secondary-bg);
      color: var(--tertiary-bg);
    }
  }

  .tagBackground {
    border: 1px solid var(--secondary-bg);
    background-color: var(--secondary-bg);
    color: var(--text-hover-color);

    border-radius: 20px;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--main-container-bg);
      border: 1px solid var(--secondary-bg);
      color: var(--tertiary-bg);
    }
  }
}

// .examplesBlock {
//   display: flex;
//   flex-direction: column;

//   .example {
//     display: flex;
//     flex-wrap: wrap;
//     background-color: var(--secondary-bg);
//     border: 1px solid var(--secondary-bg);
//     border-radius: 10px;
//     padding: 5px;
//     margin: 2px 0;
//     color: var(--place-holder-color);

//     .editImg {
//       width: 20px;
//       height: 20px;
//       position: absolute;
//       left: 85%;
//       cursor: pointer;

//       @media (max-width: 400px) {
//         left: 80%;
//       }
//     }

//     .removeImg {
//       width: 24px;
//       height: 24px;
//       position: absolute;
//       left: 90%;
//       cursor: pointer;

//       @media (max-width: 400px) {
//         left: 87%;
//       }
//     }
//   }
// }

.modalHeader {
  border-bottom: 0;

  background-color: var(--main-container-bg);
  color: var(--tertiary-bg);

  button{
    background-color: var(--third-bg);
  }
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  border-top: 0;

  background-color: var(--main-container-bg);
  color: var(--tertiary-bg);
}

.modalBody {
  background-color: var(--main-container-bg);
  color: var(--tertiary-bg);
}
