.tagBackground {
  display: flex;

  border: 1px solid var(--secondary-bg);
  background-color: var(--secondary-bg);
  color: var(--text-hover-color);

  border-radius: 20px;
  padding: 5px;
  margin: 5px 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--main-container-bg);
    border: 1px solid var(--secondary-bg);
    color: var(--tertiary-bg);
  }
}
